.wrapper {
  text-align: center;
  margin-top: 75px;
}

.background {
  margin-top: 30px;
  background: #f3f5f7;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.image {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5rem 1rem;
}

.title {
  font-size: 35px;
}

@media (min-width: 600px) {
  .title {
    font-size: 50px;
  }

  .subtitle {
    display: inline-flex;
    flex-direction: column;
  }

  .background {
    margin-top: 200px;
  }

  .image {
    margin-top: -125px;
  }
}
