.wrapper {
  text-align: center;
  margin-top: 75px;
}

.background {
  margin-top: 200px;
  background: #f3f5f7;
}

.imageWrapper {
  display: flex;
  justify-content: center;
}

.image {
  margin-top: -125px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5rem 1rem;
}

@media (min-width: 600px) {
  .subtitle {
    display: inline-flex;
    flex-direction: column;
  }
}
